h2.choose-permission-h2 {
  margin-bottom: 0;
}

.user-permissions {
  h3:first-child:not(.mt-0) {
    margin-block-start: 20px !important
  }

  .select-all + label{
    font-weight: bold;
  }

  div.checkbox.disabled:before,
  input.checkbox:disabled + label,
  input.checkbox:disabled + label:before {
    opacity: .5
  }

  ul ul li:before {
    border-block-start: 1px solid #eee;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    inset-inline-start: 16px;
    margin-block-start: 8px;
    position: absolute;
    width: 10px
  }
}
